header {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  border: solid 1px black;
}

#container > * {
  border: solid 1px black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#container > * > * > div {
  border: solid 1px black;
  margin: 10px;
  text-align: center;
  padding: 5px;
}

#page {
  width: 73vw;
}

#sidebar {
  width: 22vw;
}

.active {
  border: 5px red solid !important;
}
